**SQL50 - Problem3**

Link: https://leetcode.com/problems/big-countries/description/?envType=study-plan-v2&envId=top-sql-50

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, LongType

# Initialize Spark session
spark = SparkSession.builder.appName("Problem3").getOrCreate()

# Define schema
schema = StructType([
    StructField("name", StringType(), True),
    StructField("continent", StringType(), True),
    StructField("area", IntegerType(), True),
    StructField("population", IntegerType(), True),
    StructField("gdp", LongType(), True)
])

# Sample data
data = [
    ("Afghanistan", "Asia", 652230, 25500100, 20343000000),
    ("Albania", "Europe", 28748, 2831741, 12960000000),
    ("Algeria", "Africa", 2381741, 37100000, 188681000000),
    ("Andorra", "Europe", 468, 78115, 3712000000),
    ("Angola", "Africa", 1246700, 20609294, 100990000000)
]

# Create DataFrame
world_df = spark.createDataFrame(data, schema)

# Show input
world_df.show()

**Solution 1** - Converting null to 0 and then filter

**Solution 2** - Filter by null or not equal to 2